html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login_button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 8px;

  img {
    width: 80px;
    height: 80px;
  }
}

.login_button {
  margin-top: 40px;
  background-color: #bbd430;
  color: black;
}

.text-style {
  font-family: "inherit";
  font-weight: 400;
  font-size: 18px;
  
}

.appbar-style {
  background-color: #1995ad !important;
  height: 64px;
  justify-content: center;
}

.nameStyle {
  color: #1d1d1d !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  margin-left: 20px !important;
}

.text-weight {
  font-weight: 600 !important;
}

.light-text-weight {
  font-weight: 400 !important;
}

.table {
  font-family: "Source Sans Pro,sans-serif" !important;
  font-size: 14px !important;
  line-height: 24px !important;
  text-align: left;
}

