# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Ignore C8 library code coverage details folder
coverage/